Package: electrolib-dev
Source: electrolib
Version: 1.0-1
Architecture: amd64
Maintainer: Madeleine <madeleine@unknown>
Installed-Size: 33
Depends: electrolib1 (= 1.0-1)
Section: libdevel
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
